<div class="container">
    <h1>Precis - URL Shortener</h1>
    <form class="form-group" [formGroup]="urlForm" (ngSubmit)="onSubmit(urlForm)">
        <div class="row">
            <label>URL:</label>
            <input required class="form-control col mr-2" type="url" placeholder="url" formControlName="longUrl">

            <div *ngIf="urlForm.controls.longUrl.touched && urlForm.controls.longUrl.invalid"
                class="alert alert-danger">
                <div *ngIf="urlForm.controls.longUrl.errors.required">URL is required</div>
                <div *ngIf="!urlForm.controls.longUrl.errors.required
                && urlForm.controls.longUrl.errors.invalidUrl">Please enter valid url</div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
            <button class="btn btn-success" [disabled]="!urlForm.valid"
                type="submit">Shorten</button>
            </div>
        </div>
        <div *ngIf="shortUrl">Short Url Created:</div>
        <a *ngIf="shortUrl" target="_blank" [href]="shortUrl"><span>http://localhost:4200/</span>{{shortUrl}}</a>
    </form>
</div>